*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body{
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.btn{
    background-color: darkgreen;
    border-radius: 5px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 1rem;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}

.btn:active{
    background-color: black;
    border-radius: 5px;
    border: 2px solid darkgreen;
    border-radius: 30px;
    margin: 1rem;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}